.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.app-container {
  width: 100%;
}

ul, li, p, h1, h2, h3, h4, span, a, div {
  margin: 0;
  padding: 0;
}

ul {
  text-decoration: none;
}

ul li{
  list-style-type: none;
}

a {
  text-decoration: none;
}

.artist__link {
  color: yellowgreen;
}